
.table{clear: both;}
.sidebar-nav{
	position: fixed;
	margin-top: 50px;
	left: 20px;
	width: 100px;
	padding: 0;
	list-style: none;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 20px;
}
.container_index{
	font-family: 'Asap',  sans-serif;
}
.author_img{
	float: left;
	width: 10rem;
	transform-origin : 0 100% 0

}
#author_detail{
	text-align: left;
	margin-left: 13px;
	float: right;
	width: 82%;
	text-shadow: 2px 2px 2px gray;
	font-size: 50px;
	font-weight: bold;
	padding-left: 40px;

}

#container_title{
	text-shadow: 2px 2px 2px gray;
	font-size: 50px;
	font-weight: bold;
	border-bottom: 0.5px solid navy;
	margin-top: 20px;
	text-align: center;
}

#container_p{

    margin-top: 20px;
    margin-bottom: 2rem;
    text-align: center;
}
.content_index{
	display: flex;
	flex-direction: column;
	align-content: center;
	border-bottom: 3px dotted navy;
}
.content_index p{
	text-align: center;
	margin-top: 40px;
	font-size: 20px;
	margin-right:0px;
}
.content_index ul{
	text-align: center;
	list-style:none;
	margin-left: 30px;

}
.table-striped{
	width: 100%
}
.table-striped thead{
	font-weight: bold;
}

#authorlist{
	list-style: none;
	text-align: center;
	margin-top: 20px;
	font-size: 25px;
	color: navy;

}

h1, h2, h3, h4 {
	text-align: center;

}

.date {
    color: #398473;
}

.save {
    float: right;
}



.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}